/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: black;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size:12pt;
    color:#333333;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 15px 0;
    list-style-type: none;
    text-align: center;
}

nav li {
	margin: 0 15px;
	display: inline-block;
}

nav a {
    text-decoration: none;
}

nav a,
nav a:hover,
nav a:visited {
    color: #bcbec1;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

a,
a:hover {
  color:#b2b2b2;
}

article {
    border-top: 2px solid #DDD;
}

.main article {
  margin:10px 1em;
}

#social-media-div article {
  padding: 1.8em 0 1.6em;
}

#social-media-div i {
  color:#000;
  margin:0 0.8em 0.4em;
  font-size:1.3em;
}

#social-media-div i:hover {
  color:#2d2d2d;
}

.main article h1 {
    font-size: 2em;
    margin:1.2em 0;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.footer-container footer {
    padding: 15px 0;
    text-align: center;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.banner-container {
	background-color: #E6E7E8;
	font: bold 25px serif;
  margin-bottom: 1em;
  margin-top: 80px;
}

.banner-container .row>div {
  text-align: center;
}

.banner-container .col-sm-3 {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

/*.banner-container {
  background-image: url('img/skyline.png');
}*/

.center-logo {
  width:250px;
  margin:1.5em 0;
}

#gtclogo {
	width: 180px;
  margin:50px 0;
  display:none;
}

article.intro {
  border-bottom: 2px solid #DDD;
  margin-bottom: 2em;
}



.donate-container {
  margin: 30px 0;
  vertical-align: middle;
  padding: 1em;
    color: #b2b2b2;
    font-family: 'Karla', sans-serif;
    font-size:11pt;
}

.donate-container article {
  padding-top: 1em;
  text-align: left;
  padding-left: 1em;
  font-size:11pt;
  border:none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
}

.donate-container>a {
  color:#333;
}

.commitment-form article .ss-q-title {
  display:block;
}

label {
  display:block;
}

.commitment-form input[type=text] {
  width: 100%;
  margin-bottom: 10px
}

.commitment-form .ss-required-asterisk {
  display:none;
}

.navbar-brand {
  padding:0;
  margin-top: -5px;
  display: block;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

    .main article {
      padding:0 1em;
    }

    .commitment-form article .ss-q-title {
      width: 80px;
      text-align: right;
      padding-right: 5px;
    }
    label {
      display:inline-block;
    }

    .commitment-form input[type=text] {
      width: auto;
      margin-bottom: 0;
    }

    .commitment-form .ss-required-asterisk {
      display:inline;
    }


}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    nav {
        float: left;
        width: 100%;
    }


    #gtclogo {
      display: block;
    }

    article.intro {
      border-bottom: none;
      margin-bottom: 0;
    }
.donate-container {
  margin: 73px 0;
}

.navbar-brand {
  display: none;
}
}
@media only screen and (min-width: 1000px) {

    nav li {
      margin: 0 30px;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




/* ===================
    ALL: Orange Theme
   =================== */

.header-container,
.navbar-default,
.footer-container,
.social-container,
.commit-button {
    background-color: #EFF6D1;
    color: #b2b2b2;
    font-size:11pt;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}
.commit-button {
  padding: 1em;
  line-height: 1em;
  color:#000;
}

.social-container {
  background-color: transparent;
  text-align: center;
  text-transform: none;
}

.social-container p:first-child {
	margin-bottom: 1em;
}

.social-container p:last-child {
	margin-top: 1em;
}

.footer-container a {
    color: #b2b2b2;
    text-decoration: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#news {
  margin-bottom:0;
}

.main article .news-date {
  color:#b2b2b2;
  font-style: italic;
}

.inline {
	display: inline-block;
}

.vision-div h2,
.vision-div span {
	text-transform: uppercase;
	font-family: 'Montserret', sans-serif;
	/*font-size:13pt;*/
	color:#333333;
}

.vision-div span,
.vision-div a {
	color: #B8CB80;
}

.vision-div ol>li,
.vision-div span {
	/*font-weight: semibold;*/
}

.vision-div ul {
	list-style-type: square;
}
.vision {
  text-align: center;
  background: #EEE;
  padding: 1.8em 0;
  margin-bottom:1em;
}

.vision .fa-stack {
  font-size: 20pt;
}

.vision-div h4 {
  text-transform: uppercase;
}

.building {
  padding: 1.8em 0;
  margin-bottom:1em;
  text-align:left;
  /*background:#EEE;*/
  overflow: hidden;
}

.legal {
  font-size:10pt;
  color:#AAA;
}

.main h4 {
  margin-top:25px;
}

.grey-title {
  color: #AAA;
  font-size:14pt;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
}

.commitment-form {
  background: #EEE;
  padding: 2em 1em 0;
}

.commitment-form .ss-q-title {
  font-style: italic;
  font-weight: normal;
}
.commitment-form span {
  color:#000;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
}
.commitment-form .error-message {
  display:none;
}
.commitment-form p {
  font-style: italic;
}

.commitment-form ul {
  padding:0;
  list-style: none;
}

.commitment-form article {
  padding: 2em 0 1em;
  margin-top: 2em;
}

.commitment-form .ss-required-asterisk {
  color:red;
}


.commitment-form #ss-submit {
  background: #EFF6D1;
  border: 1px solid #CCC;
  padding:1em 2em;
  margin: 1em 0;
}

#secTable,
#secTable tr {
	border: 1px solid black;
}

#secTable td {
	padding: 3px;
}

#secTable tr td:nth-child(2),
#secTable tr td:nth-child(3) {
	text-align: center;
}

#secTable p {
	font-size: 10px;
}

#secTable thead {
	background-color: #EFF6D1;
}