/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: black;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size:13pt;
    color:#333333;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 15px 0;
    list-style-type: none;
    text-align: center;
}

nav li {
	margin: 0 30px;
	display: inline-block;
}

nav a {
    text-decoration: none;
}

nav a,
nav a:hover,
nav a:visited {
    color: #bcbec1;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

a {
  color:#b2b2b2;
}

article {
    border-top: 2px solid #b2b2b2;
}

.main article {
  padding:0 1em;
}

#social-media-div {
	float: right;
}

#social-media-div article {
  padding: 1.5em 0;
}

#social-media-div i {
  color:#000;
  margin:0 0.8em 0.4em;
  font-size:1.3em;
}

#social-media-div i:hover {
  color:#2d2d2d;
}

.main article h1 {
    font-size: 2em;
    margin:1em 0;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.footer-container footer {
    padding: 15px 0;
    text-align: center;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.banner-container {
	background-color: #EEE;
	font: bold 25px serif;
  margin-bottom: 1em;
  margin-top: 70px;
}

.banner-container .row>div {
  text-align: center;
}

.banner-container .col-sm-3 {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.center-logo {
  width:250px;
  margin:1.5em 0;
}

#gtclogo {
	width: 180px;
  margin:2em 0;
}

.donate-container {
  margin: 50px 0;
  vertical-align: middle;
  padding: 1em;
}

.donate-container article {
  margin-top: 1em;
  padding-top: 1em;
}

.donate-container article:last-child {
  font-size: 90%;
}

.donate-container>a {
  color:#333;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    nav {
        float: left;
        width: 100%;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




/* ===================
    ALL: Orange Theme
   =================== */

.header-container,
.navbar-default,
.footer-container,
.social-container,
.donate-container {
    background-color: #EFF6D1;
    color: #b2b2b2;
    font-size:11pt;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

.social-container {
  background-color: transparent;
  text-align: center;
  text-transform: none;
}

.social-container p:first-child {
	margin-bottom: 1em;
}

.social-container p:last-child {
	margin-top: 1em;
}

.footer-container a {
    color: #b2b2b2;
    text-decoration: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#news {
  margin-bottom:0;
}

.main article .news-date {
  color:#b2b2b2;
  font-style: italic;
}
